pkgbase = obsidian-bundled
	pkgdesc = A powerful knowledge base that works on top of a local folder of plain text Markdown files (using bundled Electron)
	pkgver = 1.13.4
	pkgrel = 2
	url = https://obsidian.md
	install = obsidian.install
	arch = x86_64
	license = LicenseRef-Obsidian
	depends = alsa-lib
	depends = bash
	depends = fontconfig
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsecret
	depends = libxss
	depends = nss
	depends = zlib
	provides = obsidian
	conflicts = obsidian
	options = !strip
	source = obsidian.sh
	source = obsidian.desktop
	source = LICENSE-Obsidian
	source = https://github.com/obsidianmd/obsidian-releases/releases/download/v1.13.4/obsidian-1.13.4.tar.gz
	sha256sums = a4f5cf374a88b686e0680532fdac2008fada514e2c2666f6cee88ff3c2dcd481
	sha256sums = def820b4bbedd91306124b1b66745503d64f8add1625e4c9d68f59b00b23fa2f
	sha256sums = d9fdc14f9c2fb95bb38310281268fdad413c1b49fa93213df3184f9b0ca1175c
	sha256sums = ebac249f949b6894819fbb4bc5657ec8892f006cefed955d34a6c1ffe262f16b

pkgname = obsidian-bundled
