[Desktop Entry]
Name=Anytype
Exec=/opt/Anytype/anytype %U
Terminal=false
Type=Application
Icon=anytype
StartupWMClass=anytype
Categories=Utility;
Keywords=project management;
MimeType=x-scheme-handler/anytype;
Comment=Anytype
