pkgbase = microsoft-edge-stable
	pkgdesc = A browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier
	pkgver = 146.0.3856.72
	pkgrel = 1
	url = https://www.microsoftedgeinsider.com/en-us/download
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = gtk3
	depends = libva
	depends = libxml2
	depends = libxss
	depends = nss
	depends = pciutils
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce / Plasma
	optdepends = upower: Battery Status API support
	optdepends = ttf-liberation: Fixes potential font rendering issues
	options = !strip
	options = !zipman
	source = https://packages.microsoft.com/yumrepos/edge/Packages/m/microsoft-edge-stable-146.0.3856.72-1.x86_64.rpm
	source = microsoft-edge-stable.sh
	sha256sums = 01cec107407f465861d06cb0645abf793cf2916460206c9f630caac53605996f
	sha256sums = dc3765d2de6520b13f105b8001aa0e40291bc9457ac508160b23eea8811e26af

pkgname = microsoft-edge-stable
