pkgbase = microsoft-edge-stable
	pkgdesc = A browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier
	pkgver = 147.0.3912.86
	pkgrel = 2
	url = https://www.microsoftedgeinsider.com/en-us/download
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = libcups
	depends = libgcc
	depends = libsecret
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxml2
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = qt6-base
	depends = systemd-libs
	depends = util-linux-libs
	depends = wasi-libc
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce / Plasma
	optdepends = upower: Battery Status API support
	optdepends = ttf-liberation: Fixes potential font rendering issues
	options = !strip
	options = !zipman
	source = https://packages.microsoft.com/yumrepos/edge/Packages/m/microsoft-edge-stable-147.0.3912.86-1.x86_64.rpm
	source = microsoft-edge-stable.sh
	sha256sums = 994b3c90e8be29fe9c377945eaa26253cb59ddf189c45b1c4ee19e5a1134430d
	sha256sums = dc3765d2de6520b13f105b8001aa0e40291bc9457ac508160b23eea8811e26af

pkgname = microsoft-edge-stable
