pkgbase = chatgpt
	pkgdesc = Official ChatGPT desktop application for Linux
	pkgver = 26.908.70816
	pkgrel = 3
	url = https://chatgpt.com/download
	install = chatgpt.install
	arch = x86_64
	license = LicenseRef-OpenAI-Proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libnotify
	depends = libsecret
	depends = libstdc++
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = tar
	depends = vulkan-swrast
	depends = xdg-utils
	depends = xz
	optdepends = apparmor: automatically load the bundled profile for Chromium user namespaces
	optdepends = git: enable Git repository integration
	optdepends = gtk4: use the GTK 4 backend with --gtk-version=4
	optdepends = kde-cli-tools: move deleted files to the Plasma trash through kioclient
	optdepends = org.freedesktop.secrets: securely store credentials with a Secret Service backend
	optdepends = pipewire: enable WebRTC screen sharing under Wayland
	optdepends = qt5-base: for Qt5 desktop integration via libqt5_shim
	optdepends = qt6-base: for Qt6 desktop integration via libqt6_shim
	provides = chatgpt-desktop
	conflicts = chatgpt-desktop
	conflicts = chatgpt-bin
	options = !strip
	options = !debug
	backup = etc/apparmor.d/chatgpt
	source = chatgpt-26.908.70816-x86_64.tar.zst::https://persistent.oaistatic.com/codex-app-prod/linux/arch/26.908.70816/x86_64/chatgpt-bin-26.908.70816-1-x86_64.pkg.tar.zst
	source = chatgpt.sh
	sha256sums = 2a6c86495f2789828356d18a55fbd9e8dbb445cb84c86f10feb704f8737d77bc
	sha256sums = 5a85913807fd810bbc52796e0b0b52f42deaa541181d9848cf1886694ebafbde

pkgname = chatgpt
