pkgbase = chatgpt
	pkgdesc = Official ChatGPT desktop application for Linux
	pkgver = 26.901.20858
	pkgrel = 1
	url = https://chatgpt.com/download
	install = chatgpt.install
	arch = x86_64
	license = LicenseRef-custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libglvnd
	depends = libnotify
	depends = libpulse
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	optdepends = apparmor: automatically load the bundled profile for Chromium user namespaces
	optdepends = git: enable Git repository integration
	optdepends = gtk4: use the GTK 4 backend with --gtk-version=4
	optdepends = kde-cli-tools: move deleted files to the Plasma trash through kioclient
	optdepends = libusb: support for hardware accessories (e.g. Work Louder devices)
	optdepends = org.freedesktop.secrets: securely store credentials with a Secret Service backend
	optdepends = pipewire: enable WebRTC screen sharing under Wayland
	optdepends = qt5-base: for Qt5 desktop integration via libqt5_shim
	optdepends = qt6-base: for Qt6 desktop integration via libqt6_shim
	provides = chatgpt-desktop
	conflicts = chatgpt-desktop
	options = !strip
	options = !debug
	backup = etc/apparmor.d/chatgpt
	source = chatgpt-26.901.20858-1.x86_64.rpm::https://persistent.oaistatic.com/codex-app-prod/linux/rpm/x86_64/chatgpt-26.901.20858-1.x86_64.rpm
	sha256sums = 4c7807adbaf0f315d7e6d30c38b9bd2d06b96de82914272231fd4a51f03cd5eb

pkgname = chatgpt
