pkgbase = claude-desktop
	pkgdesc = Official Claude AI desktop app from Anthropic — Chat, Cowork, and Claude Code
	pkgver = 2.2553.0
	pkgrel = 1
	url = https://claude.com/download
	arch = x86_64
	license = LicenseRef-Proprietary
	makedepends = asar
	depends = electron
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libcap-ng
	depends = libnotify
	depends = libseccomp
	depends = libsecret
	depends = socat
	depends = xdg-desktop-portal
	depends = xdg-utils
	optdepends = edk2-ovmf: UEFI firmware for Cowork VM sandbox
	optdepends = gnome-keyring: credential storage via Secret Service (GNOME)
	optdepends = kwallet: credential storage (KDE Plasma)
	optdepends = libayatana-appindicator: system tray icon
	optdepends = qemu-system-x86: QEMU hypervisor for Cowork VM sandbox
	optdepends = virtiofsd: host directory sharing for Cowork VM sandbox
	optdepends = xdg-desktop-portal-gtk: portal backend for GTK desktops
	optdepends = xdg-desktop-portal-kde: portal backend for KDE Plasma
	conflicts = claude
	conflicts = claude-desktop-bin
	options = !strip
	options = !debug
	source = https://downloads.claude.ai/claude-desktop/apt/stable/pool/main/c/claude-desktop/claude-desktop_2.2553.0_amd64.deb
	source = claude-desktop.sh
	sha256sums = e605cfda93f3f00dfb10f314f52c0f38266d42a23bf9baf8fc0261ab855a6388
	sha256sums = 42d7679e68da6143f2b1460114a368fb58ad298df700740cf6efa2ff3227503d

pkgname = claude-desktop
