pkgbase = microsoft-edge
	pkgdesc = A browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier
	pkgver = 151.0.4129.107
	pkgrel = 1
	url = https://www.microsoftedgeinsider.com/en-us/download
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = gtk3
	depends = libcups
	depends = libsecret
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxml2
	depends = libxrandr
	depends = libxss
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = util-linux-libs
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = qt6-base: for Qt6 integration
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce / Plasma
	optdepends = upower: Battery Status API support
	options = !strip
	options = !zipman
	source = https://packages.microsoft.com/yumrepos/edge/Packages/m/microsoft-edge-stable-151.0.4129.107-1.x86_64.rpm
	source = microsoft-edge.sh
	sha256sums = a763ceb6402eba25214624fcf1f027e9bb3f19dd672874c7135a9cbea0282ab4
	sha256sums = 6b11bfece9162a8ad4d45c29b2f44dc1fc1db8853c9ed81823f51f61193d15e5

pkgname = microsoft-edge
