pkgbase = ntfsprogs-plus
	pkgdesc = NTFS filesystem utilities
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/ntfsprogs-plus/ntfsprogs-plus
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = libgcrypt
	makedepends = pkgconf
	depends = glibc
	depends = util-linux
	provides = ntfsprogs
	provides = ntfsprogs-plus
	provides = ntfs-3g
	conflicts = ntfsprogs
	conflicts = ntfs-3g
	conflicts = ntfsprogs-plus-git
	source = ntfsprogs-plus-1.0.0.tar.gz::https://github.com/ntfsprogs-plus/ntfsprogs-plus/archive/refs/tags/1.0.0.tar.gz
	sha256sums = 3e3d9d2f3620cdebb128fb8dbc116f2c2a035f18000e3f01af204694ef8c7778

pkgname = ntfsprogs-plus
