pkgbase = obsidian
	pkgdesc = A powerful knowledge base that works on top of a local folder of plain text Markdown files
	pkgver = 1.13.6
	pkgrel = 1
	url = https://obsidian.md
	install = obsidian.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-Obsidian
	depends = fontconfig
	depends = bash
	depends = zlib
	depends = hicolor-icon-theme
	depends = electron43
	options = !strip
	source = obsidian.sh
	source = obsidian.desktop
	source = LICENSE-Obsidian
	sha256sums = 0df6f2b28187a84917eaf33e089abe980a407fd4b195d69eab1f2a70ad2234ca
	sha256sums = def820b4bbedd91306124b1b66745503d64f8add1625e4c9d68f59b00b23fa2f
	sha256sums = d9fdc14f9c2fb95bb38310281268fdad413c1b49fa93213df3184f9b0ca1175c
	source_x86_64 = https://github.com/obsidianmd/obsidian-releases/releases/download/v1.13.6/obsidian-1.13.6.tar.gz
	sha256sums_x86_64 = 325cb381c649ba62b4475627b416dc3929dc913d839e4bba766307863f63f8a5
	source_aarch64 = https://github.com/obsidianmd/obsidian-releases/releases/download/v1.13.6/obsidian-1.13.6-arm64.tar.gz
	sha256sums_aarch64 = 96ff3e5a48431d20333c369866dcab2a31dde566adef8e7f6059e6c4ea3acb21

pkgname = obsidian
