pkgbase = antigravity
	pkgdesc = Google Antigravity 2.0 multi-agent orchestration platform
	pkgver = 2.19.1
	pkgrel = 1
	url = https://antigravity.google/product/antigravity-2
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = gtk3
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	options = !strip
	options = !debug
	source = antigravity.desktop
	source = antigravity.png
	source = Antigravity-2.19.1-x86_64.tar.gz::https://storage.googleapis.com/antigravity-public/antigravity-hub/2.19.1-6046815158665216/linux-x64/Antigravity.tar.gz
	b2sums = b1d98649c1aee3df87511303e3f88e1c214defba1d4b3b867bfc839c9c99fc8a4399e404a3c82677cbd0b5ea4cc099741474eacd3029afc6f626de03081267aa
	b2sums = 772849ebf4574dccc7d2fc30751baed10b4a5d4091c524f3d69938192387693501c0c54ea5b43fa2ed382f70ecdff369a4c65ce3d0f778c68712fa0c2b5e84b8
	b2sums = c7fd57fec5962f988e05084946a6b7f278f5c8ecaa38733b69f3cb30947589a021ae7a96b8a6c97bb80147b3dee2b17146009596590773bc37913bd749275898

pkgname = antigravity
