name: release

on: 
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build-kernel:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v2
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - uses: actions/checkout@v4
      - uses: onenowy/archlinux-package-action@main
        with:
          flags: -cfs --noconfirm --skippgpcheck
          repopath: arch
          reponame: shelter-arch-aur
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files : arch/*
      
